
/* default css */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

header,
h1,
h2,
h3,
p,
div,
footer {
  margin: 0 auto;
}
h2 {
  font-size: 24px;
  color: #333;
  padding: 60px 60px 0;
  font-family: 'Big Shoulders Display', cursive;
}
h2:first-letter {
  font-size: 60px;

}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header,h2{
  max-width: 100%;
  height: 200px;
}
ul,li {
  list-style-type: none;
}
form {
  display: flex;
  flex-direction: column;
  /* padding: 0 0 0 50px; */
}
p {
  font-size: 16px;
  color: #333;
}
#msgBox {
  display: inline-block;
  text-align: center;
}
#msgBox,label {
  line-height: 2.0;
}
#message {
  margin: 20px 0 0 0;
  padding: 5px;
}

